.highlight-container.highlight-container--bottom-labels {
    align-items: flex-start;
}
.highlight-container {
    line-height: 42px!important;
    display: flex;
    flex-wrap: wrap;
    white-space: pre-wrap;
    cursor: default;
}
.highlight-container.highlight-container--bottom-labels .highlight.bottom {
    margin-top: 6px;
}